body {
  padding: 0;
  margin: 0;
  background: #4717f6;
  font-family: palatino, sans-serif;
}

.container {
  background: #0c0d0c;
  margin: 50px;
  padding-bottom: 250px;
}

h1 {
  color: #4717f6;
  text-align: center;
  padding-top: 20px;
  border-bottom: #4717f6 10px;
  width: 100%;
}

h2 {
  text-align: center;
  color: #4717f6;
}

h3 {
  text-align: center;
  color: #4717f6;
  margin-top: 40px;
}

p {
  color: #4717f6;
  text-align: center;
}

.buttons {
  text-align: center;
  padding: 25px;
}

.choice {
  background-color: transparent;
  color: #4717f6;
  border: solid 1px #4717f6;
  padding: 10px 30px 10px 30px;
}

.choice:hover {
  background-color: #a239ca;
}

.choice.onclick {

}

.roundScore {
}

#userScore {
  color: #4717f6;
}

#computerScore {
  color: #4717f6;
}

#finalResults {
  font-size: 25px;
}
